body {
    font-family: monospace;
}

@media screen and (min-width: 1024px) {
    li::before {
        content: "•";
        position: absolute;
        margin-left: -1em;
    }
}

h1, h2, h3, h4, h5, h6, span, div {
    font-weight: 100;
}