/* ./styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
    color: black;
    padding-left: 10px;
    width: 800px;
}

textarea {
    height: 200px;
}

label {
    width: 50px;
}

li > a {
    width: 100%;
}